# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Optional: Local development
.env
.env.local


# Node
node_modules/